<!DOCTYPE html>
<html>
<head>
	<meta charset=utf-8 />
	<title>Situação das escolas brasileiras</title>
	<link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body>
	<div class="container">
		<div class="container">
			<h1> Escolas sem energia, água e esgoto: {{ schools_without_energy }}</h1>
		</div>
		<table class="table table-striped">
			<tr>
				<th>Região</th>
				<th>Estado</th>
				<th>Cidade</th>
				<th>Escola</th>
				<th>Código</th>
				<th>Salas</th>
				<th>Funcionários</th>
				<th>Queima Lixo</th>
				<th>Sanitários fora do prédio</th>
			</tr>

			{% for s in school_list %}
				<tr>
					<td>{{ s.regiao }}</td>
					<td>{{ s.estado }}</td>
					<td>{{ s.cidade }}</td>
					<td>{{ s.nome }}</td>
					<td>{{ s.cod }}</td>
					<td>{{ s.detail.salasExistentes }}</td>
					<td>{{ s.detail.funcionarios }}</td>
					<td>{{ s.detail.lixoQueima }}</td>
					<td>{{ s.detail.sanitarioForaPredio }}</td>
				</tr>
			{% endfor %}

		</table>
	</div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.0/js/bootstrap.min.js"></script>
</body>
</html>
